<!-- Event Schema for Training Sessions -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Newport Centurions Korfball Training",
  "description": "Regular korfball training sessions open to all abilities. Beginners welcome. First 2 sessions free.",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "eventStatus": "https://schema.org/ScheduledEvent",
  "location": {
    "@type": "Place",
    "name": "The John Frost School",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Duffryn",
      "addressLocality": "Newport",
      "postalCode": "NP10 8YD",
      "addressCountry": "GB"
    }
  },
  "organizer": {
    "@type": "SportsOrganization",
    "name": "Newport Centurions Korfball Club",
    "url": "https://newportcenturions.co.uk"
  },
  "performer": {
    "@type": "SportsOrganization",
    "name": "Newport Centurions Korfball Club"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "GBP",
    "description": "First 2 sessions free"
  },
  "repeatSchedule": "https://schema.org/RepeatSchedule",
  "startDate": "2026-09-08T18:00:00+01:00",
  "endDate": "2026-09-08T20:00:00+01:00",
  "superEvent": {
    "@type": "Schedule",
    "repeatFrequency": "https://schema.org/Weekly",
    "byDay": ["https://schema.org/Tuesday", "https://schema.org/Thursday"],
    "startTime": "18:00",
    "endTime": "20:00",
    "timeZone": "Europe/London"
  }
}
</script>
