<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "SportsTeam",
    "name": "Newport Centurions Korfball Club",
    "sport": "Korfball",
    "memberOf": "Welsh Korfball League",
    "location": {
        "@type": "Place",
        "name": "John Frost School",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "John Frost School, Newport",
            "addressLocality": "Newport",
            "addressRegion": "Wales",
            "addressCountry": "UK"
        }
    },
    "url": "https://newportcenturions.co.uk",
    "contactPoint": {
        "@type": "ContactPoint",
        "email": "Newportkorfball@gmail.com",
        "contactType": "Customer Service"
    }
}
</script>
<footer class="site-footer">
    <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
</footer>
