<footer class="fundraising">
    <a href="https://www.easyfundraising.org.uk/causes/newport-centurion-korfball"
       class="fundraising-link"
       aria-label="Support us on easyfundraising"
       rel="noopener noreferrer"
       target="_blank">
        <img src="https://www.easyfundraising.org.uk/assets/bltfa413f6c13af3032/sticker-preview.png"
             alt="Did you know that whenever you buy anything online – from your weekly shop to your annual holiday – you could be raising free donations for Newport Centurion Korfball with easyfundraising?   There are over 8,000 retailers on board ready to make a donation – including eBay, Argos, John Lewis & Partners, ASOS, Booking.com and M&S – and it won’t cost you a penny extra to help us raise funds.   All you need to do is:   1. Go to https://www.easyfundraising.org.uk/causes/newport-centurion-korfball/ and join for free.  2. Every time you shop online, go to easyfundraising first to find the site you want and start shopping.  3. After you’ve checked out, the retailer will make a donation to Newport Centurion Korfball at no extra cost to you whatsoever!   There are no catches or hidden charges and Newport Centurion Korfball will be really grateful for your donations.   Thank you for your support."
             class="fundraising-logo"
             width="200"
             height="80"
             loading="lazy">
    </a>
    <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
</footer>
