<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/images/newport-centurions-korfball-club.webp">
    <meta property="og:url" content="{{ site.url }}">

    <!-- Preload assets -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preload" href="images/newport-centurions-korfball-club.webp" as="image">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% seo %}
</head>
<body>
    {{ content }}
</body>
</html>